@model Product

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/@(Model.ArtId).jpg" class="img-fluid" />
                <h1>@Model.Category - @Model.Size</h1>
                <ul>
                    <li>Price: $@Model.Price</li>
                    <li>Artist: @Model.Artist</li>
                    <li>Title : @Model.Title</li>
                    <li>Description: @Model.ArtDescription</li>
                </ul>
                <a asp-action="Index" asp-controller="Shop" class="btn btn-primary">Back to shop</a>
                <button asp-action="" asp-controller="" class="btn btn-success">Add Cart</button>
            </div>
        </div>
    </div>


